@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", Helvetica, sans-serif;
}

body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 100vh;
}

p {
  font-size: 16px;
  text-align: center;
  color: hsl(224, 23%, 55%);
}

.card {
  width: 400px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 14px 10px hsl(225, 100%, 94%);
}
.img-card {
  width: 400px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 20px 40px;
}

.card-header {
  text-align: center;
  margin-bottom: 10px;
  color: hsl(223, 47%, 23%);
}

.card-plan {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0px;
}

.plan-container {
  display: flex;
  align-items: center;
}

.card-btn-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn-proceed {
  background-color: hsl(245, 75%, 52%);
  border-radius: 8px;
  border-color: hsl(245, 75%, 52%);
  padding: 10px 0px;
  color: white;
  box-shadow: 0px 8px 10px hsl(224, 86%, 73%);
  text-decoration: none;
  margin-top: 10px;
}

.btn-cancel {
  border-radius: 8px;
  padding: 20px 0px;
  color: hsl(223, 47%, 23%);
  text-decoration: none;
  margin-top: 10px;
}

.attribution {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
